@use './themes/variables.scss' as *;

@mixin quick-setup {
  .quick-setup {
    height: 100%;

    .quick-setup-menu.menu {
      justify-content: space-between;
      align-items: center;
      border-color: transparent;
      border-radius: 6px 6px 0px 0px;
      height: 50px;
      padding: 0 $spacing-m;
      margin-bottom: 0px;
      background-color: var(--cool-grey-100);

      &::after {
        content: unset;
      }

      p {
        color: var(--cool-grey-40);
        &.visited {
          color: var(--blue-60);
        }
      }

      .item {
        margin: unset;

        height: 100%;
        border-bottom: 3px solid var(--cool-grey-100);
      }

      .disabled.item p {
        color: var(--cool-grey-50);
      }

      a.active,
      .item:hover {
        border-bottom: 3px solid var(--blue-60);
        cursor: pointer;
        p {
          color: var(--blue-60);
        }
      }
    }

    .setup-page {
      display: flex;
      flex-direction: column;
      animation: fadeIn 0.2s;
      padding: $spacing-m;
      justify-content: space-between;
      background-color: var(--white);
      border-radius: 0px 0px 4px 4px;
      height: 500px;

      button.ghost.next,
      a.ghost.next {
        align-self: flex-end;
      }

      .page-row {
        display: flex;
        flex-direction: row;
      }

      .arrow {
        padding: $spacing-l;
        align-self: center;
      }

      .party-names {
        max-height: 330px;
        overflow-y: auto;
        border: 1px solid var(--cool-grey-80);
        margin-top: $spacing-xs;
        width: 400px;

        .party-name {
          align-items: center;
          justify-content: space-between;
          background-color: var(--cool-grey-100);
          border-bottom: 1px solid var(--cool-grey-80);
          min-height: 50px;
          padding: $spacing-xs $spacing-s;

          &:last-of-type {
            border-bottom: none;
          }

          .party-details {
            display: flex;
            flex-direction: column;
          }
        }
      }

      &.finish {
        padding: 0px;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--cool-grey-20);

        .page-content {
          width: 100%;
        }
        p {
          margin-bottom: $spacing-s;
        }

        .log-in-tile-grid {
          display: grid;
          grid-template-columns: 33% 33% 33%;
          width: 100%;

          .log-in-tile {
            display: flex;
            flex-direction: column;
            border-radius: 4px;
            background-color: var(--white);
            width: auto;
            min-height: 88px;
            padding: $spacing-s;
            margin: 0 $spacing-s $spacing-s 0;

            .log-in-row {
              justify-content: space-between;
              align-items: baseline;
              overflow: hidden;

              h4 {
                display: unset;
                white-space: nowrap;
                width: unset;
                align-items: unset;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              p.log-in {
                align-items: baseline;
                border: none;
                color: var(--blue-60);
                padding: 0px;
                white-space: nowrap;

                .icon {
                  margin-left: $spacing-xs;
                  height: 10px;
                }
              }
            }

            &:hover {
              background-color: var(--blue-100);
              cursor: pointer;
            }

            .finished-roles {
              font-size: 12px;
              color: var(--cool-grey-30);
            }
          }
        }
      }
    }

    .add-parties {
      .page-content {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .party-names {
          max-height: 90%;
        }
      }
      .upload-parties {
        display: flex;
        align-items: center;
        flex-direction: column;

        .details {
          margin-bottom: $spacing-xl;
        }

        &.uploaded {
          margin-left: $spacing-xl;
          justify-content: center;
        }
      }

      .custom-file-upload {
        width: fit-content;
        height: 44px;
        border-radius: 4px;
        background-color: var(--white);
        border: 1px solid var(--green-50);
        cursor: pointer;

        > input[type='file'] {
          display: none;
        }
        &:hover {
          background-color: var(--blue-100);
          cursor: pointer;
        }
      }
    }

    .select-roles {
      .party-name {
        &.drag-over {
          background-color: var(--blue-100);

          p.dropped-items {
            font-weight: 600;
            color: var(--cool-grey-10);
          }
        }

        p.dropped-items {
          padding-right: $spacing-s;
          width: 190px;
          font-size: 12px;
          color: var(--cool-grey-30);
        }
      }
      .drag-tiles {
        flex-wrap: wrap;

        .drag-tile {
          padding: $spacing-s $spacing-m;
          border: 1px solid var(--cool-grey-80);
          border-radius: 4px;
          background-color: var(--white);
          margin: $spacing-xs $spacing-xs $spacing-xs 0;

          p {
            font-weight: 600;
          }

          &:hover {
            background-color: var(--blue-100);
            cursor: pointer;
          }
        }
      }
    }

    .request-services {
      .page-row {
        justify-content: space-between;
      }
      .message {
        max-width: 300px;
      }
      .request-select {
        margin-bottom: $spacing-s;
        width: 300px;

        a.ui.label {
          background-color: var(--cool-grey-100);
          .delete.icon {
            height: unset;
            color: var(--blue-50);
            font-weight: 100;
            stroke-width: 40%;
          }
        }
      }
      button.ghost.request {
        align-self: flex-start;
      }
    }
  }
}
