@use './themes/variables.scss' as *;

@mixin quick-setup {
  .quick-setup {
    .quick-setup-menu.menu {
      justify-content: space-between;
      align-items: center;
      border-bottom: none;
      border-radius: 6px 6px 0px 0px;
      padding: $spacing-xs $spacing-s 0 $spacing-s;
      margin-bottom: 0px;
      background-color: var(--cool-grey-100);

      p {
        color: var(--cool-grey-40);

        &.visited {
          color: var(--blue-60);
        }
      }

      .item {
        align-self: unset;
      }

      a {
        border-bottom: 3px solid transparent;
      }

      a.active,
      a:hover {
        color: var(--blue-60);
        border-bottom: 3px solid var(--blue-60);
      }
    }

    button.ghost.next {
      margin: 0 $spacing-m $spacing-m auto;
    }

    .setup-page {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: $spacing-m;
      animation: fadeIn 0.2s;
      height: 100%;
      position: relative;

      &.loading {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }

      .page-row {
        display: flex;
        flex-direction: row;
      }

      .arrow {
        padding: $spacing-l;
        align-self: center;
      }

      .ui.loader {
        position: static;
        transform: translateX(-0%) translateY(-0%);
      }

      .party-names {
        max-height: 330px;
        overflow-y: auto;
        border: 1px solid var(--cool-grey-80);
        background-color: var(--cool-grey-100);
        margin-top: $spacing-m;
        min-width: 400px;
      }

      .party-name {
        align-items: flex-start;
        justify-content: space-between;
        padding: $spacing-s $spacing-s $spacing-xs $spacing-s;
        border-bottom: 1px solid var(--cool-grey-80);
        width: 400px;
        font-size: 16px;
        line-height: 26px;
        min-height: 50px;

        &.drag-over {
          background-color: var(--blue-100);

          p.dropped-items {
            font-weight: 600;
            color: var(--cool-grey-10);
          }
        }

        &:last-of-type {
          border-bottom: none;
        }

        .party-details {
          display: flex;
          flex-direction: column;
        }

        p.dropped-items {
          padding-right: $spacing-s;
          width: 190px;
          font-size: 12px;
          color: var(--cool-grey-30);
        }
      }

      &.not-supported {
        align-items: center;
        justify-content: center;

        .page-row {
          margin-top: $spacing-l;
          height: 100%;
        }
      }

      &.finish {
        align-items: center;
        justify-content: flex-start;
        background-color: var(--cool-grey-20);
        padding-top: 0px;

        p {
          margin-bottom: $spacing-s;
        }

        .log-in-tile-grid {
          display: grid;
          grid-template-columns: 33% 33% 33%;
          width: 100%;

          .log-in-tile {
            display: flex;
            flex-direction: column;
            border-radius: 4px;
            background-color: var(--white);
            width: auto;
            min-height: 72px;
            padding: $spacing-s;
            margin: $spacing-s;

            .log-in-row {
              justify-content: space-between;
              align-items: baseline;
              overflow: hidden;

              h4 {
                display: unset;
                white-space: nowrap;
                width: unset;
                align-items: unset;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              p.p2.log-in {
                align-items: center;
                border: none;
                color: var(--blue-60);
                padding: 0px;
                white-space: nowrap;

                .icon {
                  margin-left: $spacing-xs;
                }
              }
            }

            &:hover {
              background-color: var(--blue-100);
              cursor: pointer;
            }

            .finished-roles {
              font-size: 12px;
              color: var(--cool-grey-30);
            }
          }
        }
      }

      .request-select {
        margin: $spacing-s 0;
      }
    }

    .ghost.request {
      border-color: var(--blue-60);
    }

    .warning {
      display: flex;
      margin: $spacing-s $spacing-s 0 0;
      width: 285px;
      font-size: 12px;

      p,
      a.a2 {
        font-size: 12px;
      }

      &.request-services {
        .input-label {
          margin-bottom: $spacing-xs;
        }
      }
    }

    &.offer-services {
      .page-row {
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: flex-start;
      }

      .input-label {
        margin-bottom: $spacing-xs;
      }
    }

    .add-parties {
      justify-content: unset;
      .page-row,
      .upload-parties {
        width: 100%;
        height: 100%;
      }

      .party-names,
      .uploaded {
        margin-top: $spacing-xs;
        max-height: 370px;
      }

      .upload-parties {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;

        &.uploaded {
          margin-left: $spacing-xl;
          justify-content: center;
        }
      }
      .review {
        .page-row {
          justify-content: space-between;
          width: 100%;

          .party-name,
          .party-names {
            width: unset;
            min-width: unset;
          }
        }
        .all-requests,
        .all-parties {
          width: 48%;
        }
        .all-requests {
          margin-left: $spacing-m;

          .requests {
            height: 330px;
          }
        }
      }

      .custom-file-upload {
        width: fit-content;
        height: 44px;
        border-radius: 4px;
        background-color: var(--white);
        border: 1px solid var(--green-50);
        cursor: pointer;

        > input[type='file'] {
          display: none;
        }
      }
    }
    .drag-and-drop {
      height: unset;
      .drag-tiles {
        flex-wrap: wrap;

        .drag-tile {
          padding: $spacing-s $spacing-m;
          border: 1px solid var(--cool-grey-80);
          border-radius: 4px;
          background-color: var(--white);
          margin: $spacing-xs $spacing-xs $spacing-xs 0;

          p {
            font-weight: 600;
          }

          &:hover {
            background-color: var(--blue-100);
            cursor: pointer;
          }
        }
      }
    }
    .review {
      height: unset;

      .page-row {
        justify-content: space-between;
        width: 100%;

        &.select {
          justify-content: unset;

          .party-name p.dropped-items {
            width: unset;
          }
        }
      }
    }
  }
}
