# dade-installer begin
echo "[dev-env] Setting up DA Development Environment"
DADE_REPO_ROOT="$(pwd)"
source /dev/stdin <<< "$(${DADE_REPO_ROOT}/dev-env/bin/dade-assist)"
# dade-installer end
export SBT_OPTS="-Xms2g -Xmx4g -Xss64m"

export PATH="$PATH:$(pwd)/scripts"

if [[ -e .envrc.private ]]; then
  source_env .envrc.private
fi

export REACT_APP_LEDGER_ID=da-marketplace-sandbox
export REACT_APP_HTTP_JSON_PORT=7575
