/.dev
/.daml
triggers/.daml
integrationTesting/.daml
exberry_adapter/test/.daml
pkg

daml-ui.js
ui/.daml

da-marketplace*.dar
da-marketplace*.tmp
da-marketplace*.dit
da-marketplace-test-report.xml

*egg-info

daml.js/
build
node_modules/
yarn-debug.log*
yarn-error.log*
package-lock.json
ui/package-lock.json

.idea/
.vscode/

*.log
.DS_Store
Pipfile.lock
