[submodule "lib-finance"]
	path = lib-finance
	url = git@github.com:digital-asset/lib-finance.git
	branch = syndication

[submodule "contingent-claims"]
	path = contingent-claims
	url = git@github.com:digital-asset/contingent-claims.git
	branch = syndication
