@use './NewBaseInstrument';
@use './NewBinaryOption';
@use './NewConvertibleNote';

@mixin origination-new {
  @include NewBaseInstrument.new-base-instrument();
  @include NewBinaryOption.new-binary-option();
  @include NewConvertibleNote.new-convertible-note();

  .origination-new {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
      width: 300px;
      height: 280px;
      margin-bottom: var(--spacing-l);
      margin-right: var(--spacing-s);
    }

    .tile {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}
