@use '../../themes/variables.scss' as *;

@mixin manage {
  .manage {
    .auctions {
      .header {
        margin-top: $spacing-l;
      }
    }

    .field {
       display: none;
       margin-bottom: $spacing-s;

       .ui.selection.dropdown {
            width: 100%;
        }
    }

    .manage-menu {
      border-width: 1px;
      border-color: var(--cool-grey-80);
      box-sizing: border-box;

      .item {
        padding: 0;
        padding-bottom: $spacing-s;
        margin-right: $spacing-xl;

        &.active {
          color: var(--text-color);
          border-color: var(--blue-50);
          border-width: 3px;
          margin-bottom: -1px;
          padding-bottom: calc(#{$spacing-s} - 2px); /* account for border displacement */
        }
      }
    }

    @media screen and (max-width: 1050px) {
        .manage-menu  {
            display: none;
        }

        .field {
            display: flex;
        }
    }
  }
}
