@use '../../themes/variables' as *;

@mixin member {
  .member {
    animation: fadeIn 0.5s;

    .title-action {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        a, button {
            margin-left: $spacing-m
        }
    }

    h2 {
      margin-bottom: $spacing-m;
    }

    table {
      margin-bottom: $spacing-m;
    }

    .button.ghost {
      margin-right: $spacing-s;
    }
  }
}
