@mixin clients {
    .clients {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .client-list {
            width: 100%;
            height: fit-content;
        }

        @media screen and (max-width: 1100px) {
            flex-direction: column;
            justify-content: unset;

            .striped-table {
                margin-top: $spacing-m;
            }
        }

        .title {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;
            padding-bottom: $spacing-s;

            h2 {
                margin-right: $spacing-l;
            }

            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: $spacing-s 0;

                .icon {
                    margin-right: $spacing-xs;
                }
            }
        }
    }
}
