@use 'themes/colors';
@use 'components/Tile/TilePage';

html {
  height: 100%;

  body {
    margin: 0;
    height: 100%;
    background-color: colors.$background-dark;

    #root {
      height: 100%;
    }

    @include TilePage.tile-page();
  }
}
