@use '../../themes/variables' as *;

@mixin account {
  .account {
    animation: fadeIn 0.5s;
    margin-bottom: $spacing-l;
    width: 100%;

    .account-holding {
      padding: $spacing-s;
      margin-bottom: $spacing-s;
      display: flex;

      .tile-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
    }

    h4 {
      margin: 0 $spacing-s 0 0;
    }

    .actions {
      display: flex;

      .ghost {
        margin-left: $spacing-s;
      }
    }

    .empty {
      margin: $spacing-s;
    }

    .account-details {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: $spacing-s;

      .account-data {
        display: inline;
      }

      p {
        margin-right: $spacing-s;
      }

      .close-request {
          margin-left: auto;
      }
    }
  }
}
