@use '../../themes/variables' as *;

@mixin account {
  .account {
    animation: fadeIn 0.5s;

    h2 {
      margin-bottom: $spacing-m;
    }

    .button.ghost {
      margin-right: $spacing-s;
    }

    .action-row {
      display: flex;
      flex-direction: row;
      justify-content: normal;
    }
  }
}
