@use '../../themes/variables' as *;

@mixin assets {
  .assets {
    animation: fadeIn 0.5s;

    .title-action {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      a,
      button {
        margin-left: $spacing-m;
      }
    }

    table {
      margin-bottom: $spacing-m;
    }
  }
}
