@use './PaginationControls';
@use '../../themes/variables.scss' as *;

@mixin striped-table {
  .striped-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    animation: fadeIn 0.5s;

    @include PaginationControls.pagination-controls();

    table {
      border-collapse: collapse;
      border: none;
      margin: 0px;

      .ui.loader {
        position: relative;
        transform: translateX(-0%) translateY(-0%);
    }

      th {
        border: none;
        background-color: var(--cool-grey-100);
      }

      tr {
        &.clickable {
            &:hover {
                background-color: red;
                background-color: var(--cool-grey-90);

                cursor: pointer;
            }
        }
      }

      tr td {
        border-top: 0px !important;

        .label {
          display: none;
        }
      }

      tbody {
        background-color: var(--white);
        border: 1px solid var(--cool-grey-90);
      }

      tr:nth-child(odd) {
        background-color: var(--blue-100);
      }
    }

    @media screen and (max-width: 1050px) {
      table {
        border-bottom: none;

        thead {
          display: none !important;
        }

        tr {
          background-color: var(--cool-grey-100);
          display: flex;
          flex-direction: column;
          padding: $spacing-xs;

          td {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            word-break: break-all;
            font-weight: normal;
            text-align: left;
            padding: $spacing-xs;

            .label {
              display: inline-flex;
              padding-right: $spacing-xs;
            }

            .ui.button {
                display: unset;
                margin: unset;
            }
          }
        }
      }
    }
  }
}
