@use '../../themes/variables' as *;

@mixin assets {
  .assets {
    animation: fadeIn 0.5s;

    h2 {
      margin-bottom: $spacing-m;
    }

    table {
      margin-bottom: $spacing-m;
    }

    .button.ghost {
      margin-right: $spacing-s;
    }
  }
}
