@use '../../themes/variables' as *;

@mixin new-account {
  .new-account {
    display: flex;
    flex-direction: column;
    width: 33%;

    h2 {
      margin-bottom: $spacing-m;
    }

    .submit,
    a.a2 {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .submit a.a2 {
      margin-left: $spacing-xl;

      .icon {
        margin-right: $spacing-xs;
      }
    }
  }
}
