@use '../../themes/variables.scss' as *;

@mixin notifications {
  .notifications {
    .notification-content {
      margin-top: $spacing-m;

      .field {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: $spacing-s;
      }

      .button {
        margin-right: $spacing-s;
      }
    }
  }
}
