@import './common/AddRelationshipTile.scss';
@import './common/CardTable.scss';
@import './common/DonutChart.scss';
@import './common/FormErrorHandled.scss';
@import './common/Holdings.scss';
@import './common/InviteAcceptTile.scss';
@import './common/LandingPage.scss';
@import './common/Notification.scss';
@import './common/LoadingScreen.scss';
@import './common/OnboardingTile.scss';
@import './common/OrderCard.scss';
@import './common/OverflowMenu.scss';
@import './common/Page.scss';
@import './common/PageSection.scss';
@import './common/PaginationControls.scss';
@import './common/Profile.scss';
@import './common/StripedTable.scss';
@import './common/TabViewer.scss';
@import './common/TopMenu.scss';
@import './common/Wallet.scss';
@import './common/WalletTransaction.scss';
@import './common/WelcomeHeader.scss';
@import './common/MarketRelationships.scss';
@import './common/NotificationCenter.scss';

@import './LoginScreen.scss';
@import './RoleSelectScreen.scss';
@import './SetupRequired.scss';

@import './Broker/Broker.scss';
@import './Custodian/Custodian.scss';
@import './CCP/CCP.scss';
@import './Exchange/Exchange.scss';
@import './Investor/Investor.scss';
@import './Issuer/Issuer.scss';

@mixin app {
    .app {
        height: 100vh;
        width: 100vw;

        /* common css */
        @include add-relationship-tile;
        @include card-table;
        @include donut-chart;
        @include exchange;
        @include form-error-handled;
        @include holdings;
        @include invite-accept-tile;
        @include landing-page;
        @include loading-screen;
        @include market-relationships;
        @include notification;
        @include notification-center;
        @include onboarding-tile;
        @include order-card;
        @include overflow-menu;
        @include page;
        @include page-section;
        @include pagination-controls;
        @include profile;
        @include striped-table;
        @include tab-viewer;
        @include top-menu;
        @include wallet;
        @include wallet-transaction;
        @include welcome-header;

        /* onboarding css */
        @include login-screen;
        @include role-selector;
        @include setup-required;
        @include quick-setup;

        /* role css */
        @include investor;
        @include issuer;
        @include broker;
        @include custodian;
        @include ccp;
    }
}
