@import '../index.scss';
@import './LoginScreen.scss';
@import './Investor/Investor.scss';
@import './Issuer/Issuer.scss';
@import './common/TopMenu.scss';
@import './Broker/Broker.scss';

.app {
    height: 100vh;
    width: 100vw;

    background-color: var(--cool-grey-10);
    @include investor;
    @include issuer;
    @include login-screen;
    @include top-menu;
    @include broker;
}
