/* .ui.grid {
    height: 100vh;
}

.ui.grid.column {
    max-width: 450px;
}

.ui.card {
    padding: 24px;
    box-shadow: none;
} */

.ui.menu {
    box-shadow: none;
    border: none;
}

.menu > .ui.button:not(.icon) > .icon.logout-icon {
    margin: 0 8px;
    height: 14px;
    width: 14px;
}
