@import './QuickSetup.scss';

@mixin login-screen {
    .login-screen {
        height: 100%;
        background-color: var(--cool-grey-20);
        animation: fadeIn .5s;

        .setup-required {
            color: var(--white);
            font-weight: normal;
            a.dark {
                color: var(--blue-80);
            }
        }

        .login-header {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: center;
            margin: $spacing-s 0;

            h1.ui.header {
                color: var(--white);
                font-weight: normal;
            }
        }
    }
}
