@mixin quick-setup {
    .quick-setup {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: var(--cool-grey-20);

        .quick-setup-tiles {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: var(--cool-grey-10);
            border-radius: 4px;
            position: relative
        }

        button.back-button {
           margin: $spacing-m;
           align-self: flex-start;
           position: absolute
        }

        .party-registry-tile {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 500px;
            margin-left: $spacing-l;
            padding: $spacing-m;
        }

        .assign-role-tile {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 500px;
            padding: $spacing-m;

            p.input-label {
                padding-bottom: $spacing-xs;
            }

            p.login-details {
                padding: $spacing-s 0;
            }

            button.submit-button {
                margin: $spacing-s;
                text-align: left;
                height: auto;
            }

            .login-status {
                padding: $spacing-l;

                .ui.loader {
                    position: static;
                    transform: translateX(-0%) translateY(-0%);
                }
            }

          


            .ui.grid {
                display: flex;
                flex-direction: column;

                .field {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .ui.input > input {
                        width: 198px;
                    }
                }
            }
        }
    }
}
