@mixin quick-setup {
    .quick-setup {
        background-color: var(--cool-grey-10);
        padding: $spacing-l;
        display: flex;
        flex-direction: column;
        min-width: 550px;
        min-height: 310px;

        p {
            padding-bottom: $spacing-xs;

            &.login-details {
                padding: $spacing-m 0;
            }
        }

        .login-status {
            padding: $spacing-l;

            .ui.loader {
                position: static;
                transform: translateX(-0%) translateY(-0%);
            }
        }

        button.back-button {
            margin-right: auto;
        }

        button.ghost.go {
            margin-left: auto;
        }

        .ui.grid {
            display: flex;
            flex-direction: column;

            .field {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .ui.input > input {
                    width: 198px;
                }
            }
        }
    }
}
