
@mixin role-selector {
    .role-selector {
        height: 100%;

        .role-select > .ui.button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: var(--white);

            &:hover {
                transform: scale(1.01);
            }
        }
    }

    .ui.card > .ui.button.ghost:hover {
        background: none;
    }
}
