
.ui.card {
    box-shadow: none;
    width: 100%;
}

.ui.card > .ui.button {
    width: 100%;
    height: 100%;
    padding: var(--spacing-m);
}

.ui.card > .ui.button.ghost:hover {
    background: none;
}

.role-select > .ui.button {
    background-color: var(--white);

    &:hover {
        transform: scale(1.01);
    }
    // i.right.arrow.icon {
    //     background-color: var(--white);
    //     color: var(--blue-50);
    //     font-weight: initial;
    // }
}
