
@mixin setup-required {
    .setup-required {
            .button-row {
                display: flex;

                .invite-indicator {
                    display: flex;
                    align-items: center;

                    p {
                        margin: 0px $spacing-m;
                    }

                    .ui.loader {
                        position: static;
                        transform: translateX(-0%) translateY(-0%);
                    }
                }
            }
        }
    }
