@use '../../themes/variables.scss' as *;

@mixin set-up {
  .set-up {
    display: flex;
    flex-wrap: wrap;
    .ui .table b.label {
      display: none;
      color:red;
    }

    .setup-service {
      width: 300px;
      margin-right: calc(2 * #{$spacing-xl});
      margin-bottom: calc(2 * #{$spacing-xl});

      .links {
        margin-top: $spacing-m;

        display: flex;
        flex-direction: column;
        margin-left: $spacing-s;

        a {
          margin-bottom: $spacing-s;
        }
      }
    }
  }
}
