@mixin clients {
    .clients {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .client-list {
            width: 100%;
            height: fit-content;
        }

        @media screen and (max-width: 1100px) {
            flex-direction: column;
            justify-content: unset;

            .striped-table {
                margin-top: $spacing-m;
            }
        }
    }
}
