@mixin clients {
    .clients {
        display: flex;
        flex-direction: row;

        .client-list {
            width: 60%;

            .title {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                a {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .icon {
                        margin-right: $spacing-xs;
                    }
                }
            }
        }

        .create-deposit {
            width: 40%;
        }
    }
}
