@media screen and (max-width: 1000px) {
    .custodian-clients .ui.form > .fields.inline-form-group {
        flex-direction: column;
        align-items: flex-start;
    }


    .custodian-clients .ui.form > .fields.inline-form-group .contract-select-container {
        padding:  12px 0 12px 0.5em;
    }

}

.create-deposit {
    background-color: var(--grey3);
    padding: 12px;
}

.custodian-clients .ui.form > .fields.inline-form-group .create-deposit-quantity {
    margin-left: 0.5em;
}

@media screen and (max-width: 1000px) {
    .custodian-clients .ui.form > .fields.inline-form-group .create-deposit-quantity {
        margin-left: 0px;
        margin-bottom: 12px;
    }

    .custodian-clients .ui.form > .fields.inline-form-group .contract-select-container {
        padding-left: 0;
    }
}
