
@mixin create-deposit {
    .create-deposit {
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        border: 1px solid var(--cool-grey-90);
        padding: $spacing-m;
        margin-left: $spacing-m;
        border-radius: 2px;
        height: fit-content;

        .inline-form-group {
            margin-bottom: $spacing-m;
        }
    }
}

