@mixin ui-button {
  &.button {
    display: flex;
    color: var(--textcolor);
    border-radius: 2px;

    &.basic.basic-button-fill {
      background-color: var(--white) !important;
    }

    &.ghost {
      color: var(--textcolor);
      background: none;
      align-items: center;
      border: 1px solid var(--green-50);
      border-radius: 2px;
      font-weight: 400;

      &:hover {
        background-color: var(--lightblue);
        cursor: pointer;
      }

      &.smaller {
        padding: 6px 3px;
        border: none;
      }

      &.dark {
        border: 1px solid var(--blue-80);
        background-color: transparent;
        color: var(--white);
        font-weight: normal;

        &:hover {
          background-color: var(--cool-grey-20);
        }
      }
    }

    i.right.arrow.icon {
      background-color: transparent;
      font-weight: initial;
      height: 100%;

      &.blue {
        color: var(--blue-50);
      }
    }
  }
}
