@mixin create-market {
    .create-market {
        margin-bottom: $spacing-xl;
        animation: fadeIn .5s;

        .create-market-options {
            display: flex;
            flex-direction: row;
            align-content: center;
            margin: $spacing-s 0;

            .exchange-icon {
                width: 18px;
                height: 18px;
                margin: $spacing-s;
                align-self: flex-end;
            }

            .quantity-select {
                width: 196px;
                margin-right: 45px;;
            }
        }

        .cleared-market-toggle, .ccp-select {
            margin-bottom: $spacing-m;
        }

        @media screen and (max-width: 1000px) {
            .create-market-options  {
                flex-direction: column;
                align-items: flex-start;

                .exchange-icon {
                    align-self: unset;
                }
            }

            .create-market-options .exchange-icon {
                margin: $spacing-s;
            }
        }
    }
}
