@mixin exchange-participants {
    .exchange-participants {
        height: 100%;

        .title {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: $spacing-s;

            h2 {
                margin-right: $spacing-l;
            }

            a {
                display: flex;
                flex-direction: row;
                align-items: center;

                .icon {
                    margin-right: $spacing-xs;
                }
            }
        }
    }
}
