.exchange-participants > .active-participants {
    border: none;
    background: none;
}

.exchange-participants > .active-participants > .active-participants-header > tr > th {
    border: none;
    background: none;
}

.exchange-participants > .active-participants > .active-participants-body > tr > td {
    border: none;
    background: none;
}

.exchange-participants > .active-participants > .active-participants-body > tr:nth-child(odd) {
    background-color: var(--grey3);
}
