@mixin exchange-participants {
    .exchange-participants {
        height: 100%;

        .title {
            display: flex;
            flex-direction: row;
            align-items: center;

            h2 {
                margin-right: $spacing-l;
            }

            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: $spacing-xs;
            }
        }
    }
}
