@mixin broker-customers {
    .broker-customers {
        height: 100%;
        .title {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
}
