@mixin broker-customer-holdings {
    .broker-customer-holdings {
        .order-history {
            padding: $spacing-m;
            .order-section {
                margin-bottom: $spacing-m;
            }
        }

        .allocations {
            background-color: var(--white);
            border: 1px solid var(--cool-grey-90);
            border-radius: 4px;
            padding: $spacing-m;
        }
    }
}
