@mixin icon-size($size) {
    &.icon-size-#{$size} {
        height: #{$size + 'px'};
        width: #{$size + 'px'};
    }
}

@mixin icons {
    .icon {
        height: var(--spacing-s);

        @include icon-size(24);
        @include icon-size(32);
        @include icon-size(48);
        @include icon-size(64);

        &.arrow-right-icon > path {
            fill-rule: evenodd;
            clip-rule: evenodd;
            fill: var(--textcolor);
        }

        &.candlestick-icon {
            line, rect {
                fill: var(--white);
                stroke: var(--white);
            }
        }

        &.circle-icon {
            border-radius: 50px/50px;
            border: solid 1px var(--textcolor);
            width: 16px;
            height: 16px;
            margin-right: $spacing-xs;
        }

        &.chevron-up {
            transform: scaleY(-1);
            padding-left: $spacing-xs;
            margin-right: $spacing-xs !important;
        }

        &.chevron-down {
            padding-left: $spacing-xs;
            margin-right: $spacing-xs !important;
        }

        .fill-primary {
            fill: var(--dabl-color);
        }

        .fill-green {
            fill: var(--green-80);
        }
    }
}
