.arrow-right-icon > path {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: var(--textcolor);
}

.icon {
    height: var(--spacing-s);
}

.icon.circle {
    border-radius: 50px/50px;
    border: solid 1px var(--textcolor);
    width: 16px;
    height: 16px;
    margin-right: var(--spacing-xs);
}

.icon.chevron-up {
    transform: scaleY(-1);
}
