.arrow-right-icon > path {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: var(--textcolor);
}

.icon {
    width: 12px;
    height: 12px;
}


.icon.circle {
    border-radius: 50px/50px;
    border: solid 1px var(--textcolor);
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
