@import '../common/DonutChart.scss';

@mixin investor-wallet {
    .investor-wallet {
        display: flex;
        flex-direction: row;

        .holdings {
            width: 70%;
            margin-right: var(--spacing-l);
        }

        .allocations {
            @include donut-chart;
        }
    }
}
