@import "./OrderLadder.scss";
@import "./OrderForm.scss";

@mixin investor-trade {
    .investor-trade {
        height: 100%;
        padding: 0px !important;

        @include order-ladder;

        .order {
            padding: $spacing-m;
            background: var(--cool-grey-20);
            color: var(--white);

            display: flex;
            flex-direction: column;
            height: 100%;

            h3 {
                display: flex;
                align-items: center;
                margin-bottom: $spacing-m;
            }

            .candlestick-icon {
                margin-right: $spacing-s;
            }

            .order-input {
                display: flex;
                height: 100%;
                max-width: 1000px;

                @include order-form;

                .order-form {
                    flex: 1;
                    margin-right: $spacing-m;
                }
            }
        }
    }
}
