@import '../common/DonutChart.scss';
@import '../common/TabViewer.scss';

@mixin investor-wallet {
    .investor-wallet {
        display: flex;
        flex-direction: row;
        @include tab-viewer;

        .holdings {
            width: 70%;
            margin-right: $spacing-l;
        }

        .allocations {
            @include donut-chart;
        }
    }
}
