@import '../common/DonutChart.scss';

@mixin investor-wallet {
    .investor-wallet {
        display: flex;
        flex-direction: row;
        @include donut-chart;

        .holdings {
            width: 70%;
            margin-right: var(--spacing-l);
        }

        .allocations {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            svg {
               height: 500px;

               text {
                   font-size: 3px;
               }
            }
        }
    }
}

