.order-form {
    margin-bottom: var(--spacing-l);
}

.order-form > .field {
    width: 450px;
}

.order-form > .field > .asset-label {
    position: relative;
    right: 0px;
    top: 5px;
}

.order-form > .field > input.uncontrolled:disabled {
    opacity: 1.0;
    color: grey;
}
