.order-form {
    margin-bottom: 50px;
}

.order-form > .field {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ui.form .field >.selection.dropdown {
    max-width: 350px;
}

.ui.form .field > input.order-input {
    max-width: 350px;
}
