@mixin order-form {
    .order-form {
        background-color: var(--cool-grey-10);
        margin: var(--spacing-m);
        padding: var(--spacing-s);
        margin-bottom: var(--spacing-m);
        color: #fff;

        * {
            color: #fff;
        }

        .field {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 35px;
            width: 100%;

            .order-label {
                color: var(--white);
            }

            .order-input {
                width: 70%;
            }
        }
    }
}
