@use '../../themes/variables.scss' as *;

@mixin set-up {
  .set-up {
    display: flex;
    flex-wrap: wrap;

    .setup-service {
      width: 300px;

      margin-right: calc(2 * #{$spacing-xl});
      margin-bottom: calc(2 * #{$spacing-xl});

      .links {
        margin-top: $spacing-m;

        display: flex;
        flex-direction: column;
        margin-left: $spacing-s;

        a {
          margin-bottom: $spacing-s;
          font-weight: 600;
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
}
