@use '../../themes/variables' as *;

@mixin pagination-controls {
  .pagination-controls {
    margin-left: auto;
    a.item {
      background-color: transparent;
    }

    .ui.pagination.menu {
      background-color: transparent;
    }

    a.active.item {
      color: var(--blue-50);
    }
  }
}
