/* Common Card Table Styling */
.card-table > .ui.table {
    border: none;
}

.card-table > .ui.table .card-table-cell:first-child {
    padding-left: 20px;
}

/* Header Table Styling */

.card-table > .ui.table.card-table-header-table {
    margin-bottom: -20px;
}

.card-table > .ui.table.card-table-header-table th {
    border: none;
    background: none;
}

/* Body Table Styling */

.card-table > .ui.table.card-table-body-table {
    border-spacing: 0px 20px;
    border-collapse: separate;
    margin-top: 0px;
}

.card-table > .ui.table.card-table-body-table .card-table-row {
    border-radius: 5px;
}

.card-table > .ui.table.card-table-body-table .card-table-cell {
    background-color: var(--grey1);
    border-top: 1px var(--grey2) solid;
    border-bottom: 1px var(--grey2) solid;
}

.card-table > .ui.table.card-table-body-table .card-table-cell:first-child {
    border-left: 1px var(--grey2) solid;
    border-radius: 4px 0px 0px 4px;
}

.card-table > .ui.table.card-table-body-table .card-table-cell:last-child {
    border-right: 1px var(--grey2) solid;
    border-radius: 0px 4px 4px 0px;
}
