
  p {
    text-align: center;
    line-height: 1.4;
  }
  a {
    color: DeepPink;
    text-decoration: none;
  }
  
  .pie-chart {
    --pie-size: 200px;
    --pie-bg: MidnightBlue;
    --slice-1-bg: MediumPurple;
    --slice-2-bg: DarkSlateBlue;
    --slice-3-bg: DarkMagenta;
  }
  .pie-chart.__title {
      text-align: center;
      text-transform: uppercase;
    }
    .pie-chart.__pie {
      transform: rotate(-90deg);
      height: var(--pie-size);
      width: var(--pie-size);
      display: block;
      margin: 0 auto;
    }
    .pie-chart.__pie._bg {
        fill: var(--pie-bg);
      }
    
     path:nth-of-type(n) { fill: var(--slice-3-bg) }
