@mixin donut-chart {
    .donut-chart {
        svg {
            overflow: visible;
            max-height: 500px;

            text {
                font-size: 3px;
            }
        }
    }
}
