
@mixin form-error-handled {
  .form-error-handled {
    &.ui.form.error .error.message:not(:empty){
      position: fixed;
      bottom: 0px;
      width: 500px;
      right: 0;
      margin: 1%;
      animation: FadeAnimation 1s ease-in 5s forwards;
  }

  @keyframes FadeAnimation {
      0% {
        opacity: 1;
        visibility: visible;
      }

      100% {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}
