.ui.form.holding:not(:last-child)  {
    border-bottom: 2px var(--grey2) solid;
}

.ui.form > .fields.inline-form-group.action {
    padding-top: 12px;
    padding-bottom: 12px;
}

.ui.form > .fields.inline-form-group.action .field {
    padding-left: 0;
    width: 321px;
}

.ui.form > .fields.inline-form-group.label {
    padding-top: 12px;
    font-size: 16px;
    line-height: 22px;
}

.asset-section {
    border-bottom: 2px var(--grey2) solid;
    margin-bottom: 25px;
}

.asset-section:last-child {
    border: none;
}

.deposit-row {
    padding: 10px;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.deposit-row > div {
    flex-grow: 1;
    flex-basis: 0;
}

.ui.form > .fields.inline-form-group.deposit-action {
    margin: 4px 0;
}

@media screen and (max-width: 1000px) {
    .deposit-row {
        flex-direction: column;
        justify-content: center;
        padding-left: 0px;
    }

    .deposit-row > div {
        padding-left: .5em;
    }
}
