
.asset-section {
  margin-top: var(--spacing-m);

  .provider-info {
      display: flex;
      align-items: baseline;

      .p2 {
          margin-left: var(--spacing-s);
      }
    }
}

.deposit-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: var(--spacing-s);
    margin: var(--spacing-s) 0px;
    background: var(--white);
    border: 2px solid var(--grey2);
    box-sizing: border-box;
    border-radius: 2px;
    height: fit-content;
    width: 100%;
}

.deposit-row .deposit-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;

    .overflow-menu {
        margin-left: auto;
    }
}

.deposit-row .deposit-info h3 {
    margin: 0;
    margin-right: var(--spacing-s);
}

.deposit-row .deposit-info h3:nth-of-type(2) {
    font-weight: normal;
}

.deposit-row .selected-form {
    display: flex;
    flex-direction: column;
}

.deposit-row .selected-form .selected-form-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-s) 0;
    margin-top: var(--spacing-s);
}

@media screen and (max-width: 1000px) {
    .deposit-row .deposit-row-body {
        flex-direction: column;
        align-content: flex-start;
    }
    .deposit-row .deposit-info, .deposit-row .form-selector  {
        width: 100%;
    }

    .deposit-row .form-selector .button  {
        margin-top: var(--spacing-s);
    }
}
