@mixin invite-accept-tile {
    .invite-accept-tile {
        height: 100%;
        display: flex;
        flex-direction: column;

        .invite-accept-form {
            margin-top: $spacing-s;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            text-align: left;

            .invite-accept-form-item {
                padding-top: $spacing-s;
                padding-right: $spacing-m;
                width: 100%;
            }
        }
    }
}
