.invite-accept-is-public {
    display: flex;
    flex-direction: row;
    width: 100;
}

.invite-accept-is-public p {
    margin-bottom: var(--spacing-xs);
}

.invite-accept-form {
    margin-top: var(--spacing-s);
    padding-left: var(--spacing-l);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
}

.invite-accept-form .invite-accept-form-item {
    padding-top: var(--spacing-s);
    padding-right: var(--spacing-m);
    width: 100%;
}
