.invite-accept-is-public {
    display: flex;
    flex-direction: row;
    width: 100;
}

.invite-accept-is-public p {
    margin-bottom: 5px;
}

.invite-accept-form {
    margin-top: 10px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
}

.invite-accept-form .invite-accept-form-item {
    padding-top: 10px;
    padding-right: 24px;
    width: 100%;
}
