.landing-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .ui.header {
        padding-bottom: var(--spacing-s);
    }

    .landing-page-column {
        width: 50%;
        height: fit-content;

        &.market-relationships {
            margin-left: var(--spacing-l);
            width: 40%;
        }

        .ui.form > .fields.inline-form-group > .field {
            padding-left: 0;
        }

        .custodian-select-container {
            padding-right: var(--spacing-xs);
        }
    }

    @media screen and (max-width: 1000px) {
        .landing-page-column {
            width: 100% !important;
            padding-bottom: var(--spacing-l);

            &.market-relationships {
                margin-left: 0px;
            }
        }
    }
}
