.landing-page {
    display: flex;
    height: 100%;
    width: 100%;
}

.landing-page-column {
    width: 40%;
}

.landing-page .ui.header {
    padding-bottom: 12px;
}

.landing-page-column  .ui.form > .fields.inline-form-group > .field {
    padding-left: 0;
}
