.landing-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.landing-page-column {
    width: 50%;
    height: fit-content;
}

.landing-page .ui.header {
    padding-bottom: var(--spacing-s);
}

.landing-page-column  .ui.form > .fields.inline-form-group > .field {
    padding-left: 0;
}

.landing-page .landing-page-column .custodian-select-container {
    padding-right: var(--spacing-xs);
}

@media screen and (max-width: 1000px) {
    .landing-page-column {
        width: 100% !important;
        padding-bottom: var(--spacing-l);
    }
}
