.landing-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.landing-page-column {
    width: 45%;
}

.landing-page .ui.header {
    padding-bottom: 12px;
}

.landing-page-column  .ui.form > .fields.inline-form-group > .field {
    padding-left: 0;
}

.landing-page .landing-page-column .custodian-select-container {
    padding-right: 6px;
}

@media screen and (max-width: 1000px) {
    .landing-page-column {
        width: 100% !important;
    }
}