.notification {
    margin-bottom: var(--spacing-s);
}

.notification > .message {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--grey3);
    border: 1px var(--grey2) solid;
    border-radius: 0;
    box-shadow: none;
}

.notification > .message p {
    margin: 0;
}
