@mixin notification {
    .notification {
        margin-bottom: $spacing-s;

        & > .message {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: var(--cool-grey-100);
            border: 1px var(--cool-grey-90) solid;
            border-radius: 4px;
            box-shadow: none;

            p {
                margin: 0;
            }
        }

        button {
            margin-left: $spacing-s;
        }

        .ui.message .header {
            font-weight: normal;
        }
    }
}
