@mixin onboarding-tile {
    .onboarding-screen {
        height: 100%;
        width: 100%;
        overflow: scroll;
        padding: 0px;
        background-color: var(--cool-grey-20);

        .onboarding-tile {
            background-color: var(--cool-grey-10);
            padding: var(--spacing-l);
            border-radius: 2px;
            margin-bottom: 2px;
            width: 550px;
            text-align: left;

            .tile-header {
                margin-bottom: var(--spacing-m);

                .logo-header {
                    display: flex;
                    justify-content: center;
                }
            }

            .subtitle {
                color: var(--white);
                font-size: 16px;
            }

            .onboarding-tile-content {
                text-align: left;

                form .field input {
                    background-color: var(--cool-grey-30);
                    color: var(--white);
                }

                .username-login {
                    margin: var(--spacing-m);
                }

                form button, .login-form button {
                    text-align: left;

                    &.dabl-login-button {
                        height: 70px;
                        font-size: 16px;
                        background-color: var(--white);
                        border: 1px solid var(--cool-grey-30);
                        border-radius: 4px;

                        i {
                            background-color: transparent;
                            color: var(--blue-50);
                            font-weight: initial;
                        }

                        &:hover {
                            transform: scale(1.02);
                        }
                    }
                }

                .login-details {
                    line-height: 26px;
                }

                .login-form {
                    padding: var(--spacing-m) 0;

                    .field.upload-file-input {
                        display: flex;
                    }

                    .field > .ui.input {
                        display: flex;
                        align-self: flex-end;
                    }

                    .dropdown, .dropdown .menu {
                        background-color: var(--cool-grey-30);
                        color: var(--white);
                        .text {
                            color: var(--white);
                        }
                    }

                    .custom-file-upload {
                        height: 44px;
                        width: 100%;
                        margin: 0;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        align-self: flex-end;
                        border-radius: 2px;
                        background-color: var(--cool-grey-30);

                        > input[type="file"] {
                            display: none;
                        }

                        i.white.icon {
                            color: var(--white)
                        }

                        .icon {
                            margin-right: var(--spacing-s);
                        }
                    }
                }
            }
        }
    }
}
