.order-card > .ui.card.order-info {
    background: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.order-card {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 12px;
    margin: 12px 0px;
    background: var(--grey1);
    border: 2px solid var(--grey2);
    box-sizing: border-box;
    border-radius: 2px;
}

.order-info .exchange-icon {
    width: 16px;
    height: 16px;
    margin-right: 12px;
    margin-left: 8px;
}

.order-info div:first-child {
    display: flex;
    align-items: center;
}


@media screen and (max-width: 800px) {
    .order-card > .ui.card.order-info {
        flex-direction: column;
        align-content: flex-start;
    }

    .order-card > .ui.card.order-info > div:not(:last-child){
        padding-bottom: 12px;
    }
}
