@mixin order-ladder {
    .order-ladder {
        flex: 1;
        width: 100%;
        // height: 100%;
        // padding-bottom: var(--spacing-m);
        background-color: var(--cool-grey-40);
        color: var(--white);

        .grid-container {
            display: grid;
            height: 100%;

            padding: var(--spacing-xxxs);
            column-gap: var(--spacing-xxxs);
            row-gap: var(--spacing-xxxs);

            grid-template-columns: auto auto auto;
            grid-template-rows: repeat(auto-fill, minxmax(100%, 1fr));

            .order-cell {
                &:nth-child(3n + 1) {
                    color: var(--green-60);
                }

                &:nth-child(3n + 3) {
                    color: var(--red-60);
                }

                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    font-size: 18px;
                }
                // margin: var(--spacing-s) 0 var(--spacing-s) var(--spacing-s);
                // width: 100%;
                // height: 50px;
                background-color: var(--cool-grey-10);
            }


            .column {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: var(--spacing-s) 0 var(--spacing-s) var(--spacing-s);

                .order-cell {
                    // margin: var(--spacing-s) 0 var(--spacing-s) var(--spacing-s);
                    width: 100%;
                    height: 50px;
                    background-color: var(--cool-grey-10);
                }
            }
        }
    }
}
