.order-card > .ui.card.order-info {
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.order-card {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 12px;
    margin: 12px 0px;
    background: var(--grey1);
    border: 2px solid var(--grey2);
    box-sizing: border-box;
    border-radius: 2px;
}

.order-info .exchange-icon {
    width: 16px;
    height: 16px;
    margin-right: 12px;
    margin-left: 8px;
}

.order-info div:first-child {
    display: flex;
    align-items: center;
}
