@mixin order-card {
    .order-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: $spacing-s 0px;
        background: var(--white);
        border: 1px solid var(--cool-grey-90);
        box-sizing: border-box;
        border-radius: 4px;
        flex-wrap: wrap;
        width: 100%;
        height: 46px;

        &.ui.card {
            border: none;
        }

        .order-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 70%;

            .exchange-icon {
                width: 16px;
                height: 16px;
                margin-right: $spacing-s;
                margin-left: $spacing-s;
            }

            p:first-child {
                display: flex;
                align-items: center;
            }

        }

        .actions {
            margin-left: auto;
            justify-content: flex-end;
            margin-right: $spacing-s;

            .fields {
                margin: 0;
            }
        }

        @media screen and (max-width: 800px) {
            height: unset;
            .order-info {
                flex-direction: column;
                align-items: flex-start;
                padding: $spacing-s;

                .exchange-icon {
                    margin-left:0px;
                }
            }
        }
    }
}
