.overflow-menu {
    position: relative;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.overflow-menu-title {
    display: flex;
    align-items: center;
}

.overflow-menu-modal {
    top: var(--spacing-s);
    right: 0px;
    display: block;
    position: absolute;
    box-shadow: 0px 4px 4px var(--grey2);
    background-color: var(--white);
    border: 1px solid var(--bluegrey1);
    z-index: 1;
}

.overflow-menu-entry {
    padding: var(--spacing-s);
    white-space: nowrap;
    color: var(--text-color)
}

.overflow-menu-entry:not(:last-child) {
    border-bottom: 1px solid var(--grey2);
}

.overflow-menu-entry a {
    display: flex;
    align-items: center;
}

.overflow-menu-entry:hover {
    background-color: var(--lightblue);
}
