@mixin page-section {
    .page-section {
        flex: 1;
        width: 100%;
        padding: $spacing-m;
        background-color: var(--cool-grey-100);
        border-top: 2px var(--cool-grey-90) solid;
        border-radius: 0;

        .order-forms > .ui.form {
            padding-bottom: $spacing-l;
        }
    }
}
