.ui.grid .page-section {
    flex: 1;
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
}

.ui.grid .page-section.white {
    background-color: #fff;
}

.ui.grid .page-section.grey {
    background-color: var(--grey1);
}

.ui.grid .page-section.grey-border {
    border-top: 2px var(--grey2) solid;
    border-radius: 0;
}

.ui.grid .page-section.blue-border {
    border-top: 2px var(--lightblue2) solid;
    border-radius: 0;
}

.ui.grid .page-section .order-forms > .ui.form {
    padding-bottom: 32px;
}