@import "../../index.scss";

.ui.grid.page-content {
    display: flex;
    height: 100%;
}

.ui.grid > .column.page-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    background-color: var(--white);
    padding: 0;
}

.ui.grid > .column.page-body .narrow-width-menu {
    display: none;
}

.ui.grid > .column.page-sidemenu {
    padding: 0;
    width: 230px;
    display: flex;
    top: 0;
    position: sticky;
    align-self: flex-start;

    .item.home-item {
        padding: $spacing-s;
    }
}

.column.page-sidemenu > .ui.secondary.menu {
    margin: 0;
    width: 100%;
}

.column.page-sidemenu > .ui.secondary.menu .sub-menu {
    border-top: 2px solid var(--cool-grey-20);
    border-bottom: 2px solid var(--cool-grey-20);
}

.column.page-sidemenu > .ui.secondary.menu .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--spacing-m);
    margin: 0;

    p, h3 {
        color: var(--white)
    }
}

.column.page-sidemenu > .ui.secondary.menu .item.active {
    background-color: var(--cool-grey-20);
}

.column.page-sidemenu > .ui.secondary.menu a.item:hover {
    background-color: var(--cool-grey-20);
}

.column.page-sidemenu > .ui.secondary.menu .item.sidemenu-item-normal > p {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    align-items: center;
    color: var(--white)
}

.column.page-sidemenu > .ui.secondary.menu .item.sidemenu-item-normal > p > .icon {
    margin-right: var(--spacing-s);;
    width: 16px;
    height: 16px;
}

.column.page-sidemenu > .ui.secondary.menu .item.sidemenu-item-normal > p > .orders-icon {
    width: 18px;
    height: 19px;
}
