@mixin profile {
    .profile {
        .profile-form-field {
            width: 260px;
            margin-top: $spacing-s;
            margin-right: $spacing-s;
        }

        .profile-submit-button {
            width: fit-content;
        }
    }
}
