.ui.grid > .column.page-sidemenu {
    padding: 0;
    width: 230px;
    display: flex;
    top: 0;
    position: sticky;
    align-self: flex-start; 
}

.column.page-sidemenu > .ui.secondary.menu {
    margin: 0;
    width: 100%;
}

.column.page-sidemenu > .ui.secondary.menu .sub-menu{
    border-top: 2px solid #ECF0FC;
    border-bottom: 2px solid #ECF0FC;
}

.column.page-sidemenu > .ui.secondary.menu .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--spacing-m);
    margin: 0;
}

.column.page-sidemenu > .ui.secondary.menu .item.active {
    background-color: var(--lightblue2);
}

.column.page-sidemenu > .ui.secondary.menu a.item:hover {
    background-color: var(--lightblue2);
}

.column.page-sidemenu > .ui.secondary.menu .item.sidemenu-item-normal > p {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    align-items: center;
    color: var(--textcolor);
}

.column.page-sidemenu > .ui.secondary.menu .item.sidemenu-item-normal > p > .icon {
    margin-right: var(--spacing-s);;
    width: 16px;
    height: 16px;
}

.column.page-sidemenu > .ui.secondary.menu .item.sidemenu-item-normal > p > .orders-icon {
    width: 18px;
    height: 19px;
}
