.ui.grid > .column.page-sidemenu {
    padding: 0;
    width: 230px;
}

.column.page-sidemenu > .ui.secondary.menu {
    margin: 0;
    width: 100%;
}

.column.page-sidemenu > .ui.secondary.menu .sub-menu{
    border-top: 2px solid #ECF0FC;
    border-bottom: 2px solid #ECF0FC;
}

.column.page-sidemenu > .ui.secondary.menu .item {
    padding: 24px;
    margin: 0;
}

.column.page-sidemenu > .ui.secondary.menu .item.active {
    background-color: var(--lightblue2);
}

.column.page-sidemenu > .ui.secondary.menu a.item:hover {
    background-color: var(--lightblue2);
}

.column.page-sidemenu > .ui.secondary.menu .item.sidemenu-item-normal > p {
    display: flex;
    font-size: 14px;
    color:red;
    align-items: center;
    color: var(--textcolor);
}

.column.page-sidemenu > .ui.secondary.menu .item.sidemenu-item-normal > p > .icon {
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

.column.page-sidemenu > .ui.secondary.menu .item.sidemenu-item-normal > p > .orders-icon {
    width: 22px;
    height: 22px;
}
