.striped-table-parent > .striped-table {
    border: none;
    background: none;
}

.striped-table-parent > .striped-table > .striped-table-header > tr > th {
    border: none;
    background: none;
}

.striped-table-parent > .striped-table > .striped-table-body > tr > td {
    border: none;
    background: none;
}

.striped-table-parent > .striped-table > .striped-table-body > tr:nth-child(odd) {
    background-color: var(--grey3);
}
