
.tab-viewer {
    display: flex;
    flex-direction: column;
    vertical-align: bottom;
    width: 100%;
}

.tab-viewer .menu-entries {
    display: flex;
    flex-direction: row;
    position: relative;
}
.tab-viewer .menu-entries  .menu-entry {
    cursor: pointer;
    padding: var(--spacing-xs) var(--spacing-m);
    background-color: transparent;
    border: 1px solid var(--grey2);
    border: 1px solid var(--grey2);
}


.tab-viewer .menu-entries  .menu-entry .current {
    background-color: var(--white);
    border-top: 3px solid var(--dabl-color);
    box-shadow: 5px 0 4px -5px var(--grey4);
    position: relative;
    z-index: 2;
    top: 1px;
}

.tab-viewer .menu-entries  .menu-entry .current:hover {
    cursor: default;
    background: var(--white);
}

.tab-viewer .menu-entries  .menu-entry:hover {
    background: var(--grey5)
}

.tab-viewer .menu-entries  .menu-entry:first-child {
    border-left: 1px solid var(--grey2);
}

.tab-viewer .menu-entries .content-body {
    overflow: auto;
    padding: var(--spacing-m);
    background-color:  var(--white);
    border: 1px solid var(--grey2);
    box-shadow: 0 1px 4px 0px var(--grey4);
}


