
@mixin tab-viewer {
    .tab-viewer {
        .segment {
            background-color: var(--cool-grey-20);

            .pointing.menu {
                border-bottom: 2px solid var(--cool-grey-30);

                a.active {
                    border-color: var(--cool-grey-60);
                }
            }
        }
    }
}
