
@mixin tab-viewer {
    .tab-viewer {
        display: flex;
        flex-direction: column;
        vertical-align: bottom;
        width: 100%;

        .menu-entries {
            display: flex;
            flex-direction: row;
            position: relative;

            .menu-entry {
                cursor: pointer;
                padding: $spacing-s $spacing-m;
                background-color: transparent;

                &.current {
                    background-color: var(--white);
                    border-top: 3px solid var(--green-50);
                    border-left: 1px solid var(--cool-grey-90);
                    border-right: 1px solid var(--cool-grey-90);
                    position: relative;
                    z-index: 2;
                    top: 1px;

                    p {
                        font-weight: 600;
                    }

                    &:hover {
                        cursor: default;
                    }
                }
            }
        }

        .content-body {
            overflow: auto;
            padding: $spacing-s $spacing-m;
            background-color: var(--white);
            border: 1px solid var(--cool-grey-90);;
        }
    }
}
