.ui.menu.top-menu {
    box-shadow: none;
    border: none;
    min-height: 102px;
    margin: 0;
}

.top-menu .menu > .ui.button:not(.icon) > .log-out {
    display: flex;
    align-items: center;  
}

.top-menu .menu > .ui.button:not(.icon) > .log-out > p {
    margin: 0;
}

@media screen and (max-width: 1000px) {
    .top-menu .menu > .ui.button:not(.icon) > .log-out > p {
        display: none;
    }
}

.top-menu .menu > .ui.button:not(.icon) .icon.logout-icon {
    margin-left: 8px;
    height: 14px;
    width: 14px;
}

.ui.menu.top-menu > .menu > .item:before {
    display: none;
}

.ui.menu.top-menu > .menu > .item > .header > .content {
    display: flex;
    align-items: center;
}

.ui.menu.top-menu > .menu > .item > .header .icon {
    width: 32px;
    height: 32px;
    margin-right: 32px;
}

.top-menu.menu .item {
    padding: 28px 16px 28px 16px;
}

.top-menu.menu > .top-right-menu > .item:first-child {
    padding-left: 32px;
}

.top-menu.menu > .top-left-menu {
    align-items: flex-start;
}

.top-menu.menu > .top-left-menu > .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}

.notifications {
    padding: 0px 32px;
}
