.ui.menu.top-menu {
    box-shadow: none;
    border: none;
    border-bottom: 2px var(--lightblue2) solid;
    height: 68px;
    margin: 0;
}

.top-menu .menu > .ui.button:not(.icon) > .icon.logout-icon {
    margin: 0 8px;
    height: 14px;
    width: 14px;
}

.ui.menu.top-menu > .menu > .item:before {
    display: none;
}

.ui.menu.top-menu > .menu > .item > .header > .content {
    display: flex;
    align-items: center;
}

.ui.menu.top-menu > .menu > .item > .header .icon {
    width: 32px;
    height: 32px;
}

.top-right-menu > .item:first-child {
    padding-left: 32px;
}

.top-left-menu {
    border-left: 2px var(--lightblue2) solid;
}
