@mixin top-menu {
    .top-section {
        background-color: var(--white);

        .ui.menu.top-menu {
            box-shadow: none;
            border: none;
            margin: 0;
            border-radius: 0px;;
            padding: $spacing-s;
            min-height: 70px;

            .menu.left.menu {
                animation: fadeIn .5s;
            }

            .menu > .item:before {
                display: none;
            }

            .menu > .item > .header > .content {
                display: flex;
                align-items: center;
            }

            .menu > .ui.button:not(.icon) > .log-out {
                display: flex;
                align-items: center;

                .icon.logout-icon {
                    margin-left: $spacing-s;
                }
            }

            .menu > .item.menu-button {
                margin-left: auto;
                margin-right: $spacing-s;
                animation: fadeIn .5s;
            }
        }

        .notifications {
            padding: 0px $spacing-m;
        }
    }
}
