@mixin top-menu {
    .top-section {
        background-color: var(--white);

        .ui.menu.top-menu {
            box-shadow: none;
            border: none;
            margin: 0;
            border-radius: 0px;;

            .menu.left.menu {
                animation: fadeIn .5s;
                padding: $spacing-s;
            }

            .menu > .item {
                &:before {
                    display: none;
                }

                > .header > .content {
                    display: flex;
                    align-items: center;
                }

                .menu-button {
                    animation: fadeIn .5s;
                    border-right: var(--cool-grey-90) 1px solid;
                }
            }

            .log-out-button {
                padding: $spacing-m;
                margin-top: $spacing-gap;
                align-self: flex-start;

                &.divider {
                    border-left: var(--cool-grey-90) 1px solid;
                }

                .log-out {
                    display: flex;
                    align-items: flex-start;

                    .icon.logout-icon {
                        margin-left: $spacing-s;
                    }
                }
            }
        }

        .notifications {
            padding: 0px $spacing-m;
        }
    }
}
