
@mixin wallet-transaction {
    .wallet-transaction {
        padding: $spacing-s $spacing-l;
        display: flex;
        flex-direction: column;

        form {
            width: 50%;

            .field .field-step {
                padding: $spacing-s 0;
            }

            .field .step-title {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }

            .holdings-selector {
                .deposit-row {
                    &:hover {
                        background-color: var(--cool-grey-90);
                        cursor: pointer;
                    }

                    &.selected {
                        border-color: 1px solid var(--cool-grey-10)
                    }
                }
            }
        }
    }
}
