
@mixin wallet-transaction {
    .wallet-transaction {
        padding: $spacing-s $spacing-l;
        display: flex;
        flex-direction: column;

        form {
            width: 50%;

            .field .field-step {
                padding: $spacing-s 0;
            }

            .field .step-title {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}
