
@mixin wallet-transaction {
    .wallet-transaction {
        padding: $spacing-s $spacing-l;
        display: flex;
        flex-direction: column;

        form {
            margin-top: $spacing-l;

            .field.field-step {
                padding-bottom: $spacing-m;
            }

            .field .step-title {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
            .actions, a.a2 {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            .actions a.a2 {
                margin-left: $spacing-xl;
                .icon {
                    margin-right: $spacing-xs;
                }
            }
        }
    }
}
