
.welcome-header {
    display: flex;
    flex-direction: row;
    align-content: center;

    .welcome-header-row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: var(--spacing-s);
        margin-top: var(--spacing-xs);

        h2.ui.header {
            margin-bottom: var(--spacing-xs);
        }
    }
}
