
.issuer-custodian-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.issuer-custodian-form .issuer-custodian-form-item {
    padding-top: 48px;
    width: 80%;
}

.issuer-custodian-form .is-public {
    display: flex;
    flex-direction: row;
    width: 100;
}

.issuer-custodian-form .issuer-custodian-submit-button {
    margin-top: 48px;
    width: fit-content;
}

.issuer-custodian-form .issuer-custodian-submit-button:hover {
    background-color: var(--lightblue2);
}
