@mixin issued-token {
    .issued-token {
        .position-holdings-data {
            display: flex;
            flex-direction: row;
        }

        .allocations {
            margin: 0 0 $spacing-m $spacing-m;
            width: 80%;
            border: 1px solid var(--cool-grey-90);
            border-radius: 2px;
            background-color: var(--white);
        }

        .token-subheading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .token-details {
                display: flex;
                flex-direction: row;
                p {
                    margin-left: $spacing-m;
                }
            }
        }

        .participants-viewer {
            padding: $spacing-m 0 $spacing-m 0;
            border-bottom: 2px solid var(--grey3);

            .list-heading {
                display: flex;
                flex-direction: row;
                padding: $spacing-m 0 $spacing-s 0;
                align-items: center;

                button.ghost {
                    margin-left: $spacing-m;
                }
            }

            ul.participants-list  {
                display: inline-flex;
                flex-direction: column;
                max-height: 128px;
                flex-wrap: wrap;
                list-style-type: none;
                padding-left: 0px;
                width: unset;
                margin: 0px;

                li {
                    padding: $spacing-s $spacing-l 0 0;
                    width: fit-content;
                }

            }
        }

        @media screen and (max-width: 1000px) {
            .position-holdings-data {
                flex-direction: column;

                .allocations {
                    margin: 0px;
                    width: 100%;
                };
            }
        }
    }
}
