@import "../common/DonutChart.scss";
@import "../common/TabViewer.scss";

@mixin issued-token {
    .issued-token {
        @include donut-chart;
        @include tab-viewer;

        .position-holdings-data {
            display: flex;
            flex-direction: row;

            .ui.table.issuer-cap-table {
                border: 0px !important;

                tr td {
                    border-top: 0px !important;
                }

                tr:nth-child(odd) {
                    background-color: var(--grey3);
                }

                tr th {
                    background-color: var(--white);
                    border-bottom: 0px !important;
                }
                tr th:nth-of-type(1){
                    padding-left: 0px;
                }
            }
        }

        .donut-chart {
            margin-left: $spacing-m;
            width: 50%;
            overflow: visible;
        }

        .token-subheading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .token-details {
                display: flex;
                flex-direction: row;
                p {
                    margin-left: var(--spacing-m);
                }
            }
        }

        .participants-viewer {
            padding: var(--spacing-m) 0 var(--spacing-m) 0;
            border-bottom: 2px solid var(--grey3);

            .list-heading {
                display: flex;
                flex-direction: row;
                padding: var(--spacing-m) 0 var(--spacing-s) 0;
                align-items: center;

                button.ghost {
                    margin-left: var(--spacing-m);
                }
            }

            ul.participants-list  {
                display: inline-flex;
                flex-direction: column;
                max-height: 128px;
                flex-wrap: wrap;
                list-style-type: none;
                padding-left: 0px;
                width: unset;
                margin: 0px;

                li {
                    padding: var(--spacing-s) var(--spacing-l) 0 0;
                    width: fit-content;
                }

            }
        }

        @media screen and (max-width: 1000px) {
            .ui.table.issuer-cap-table tr th, .ui.table.issuer-cap-table tr td {
                text-align: left;
            }

            .ui.table.issuer-cap-table tr:nth-child(odd) {
                background-color: unset;
            }
        }
    }
}

