.ui.form .field.issue-asset-form-field {
    padding-bottom: var(--spacing-s);
}

.ui.form .field.issue-asset-form-field  > .ui.input {
    max-width: 260px;
}

.ui.form textarea {
    max-width: 500px;
}

.ui.form .observer-select {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--spacing-s);
}

.ui.form .observer-select > .issue-asset-form-field.select-observer {
    padding-top: var(--spacing-s);
}
