.ui.form .field.issue-asset-form-field {
    padding-bottom: 12px;
}

.ui.form .observer-select {
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
}

.ui.form .observer-select > .issue-asset-form-field.select-observer {
    padding-top: 12px;
}
