@use './themes/variables.scss' as *;

@mixin quick-setup {
  .quick-setup {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: $spacing-m;
    background-color: var(--cool-grey-20);

    button.ghost.dark.back-button {
        width: fit-content;
        border-color: var(--cool-grey-20);
    }

    .quick-setup-tile {
        display: flex;
        justify-self: center;
        align-self: center;
        background-color: var(--white);
        flex-direction: column;
        border-radius: 6px;
        width: 800px;
        height: 550px;

        .quick-setup-menu.menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: none;
            border-radius: 6px 6px 0px 0px;
            padding: $spacing-xs $spacing-m 0 $spacing-m;
            margin-bottom: 0px;
            background-color: var(--cool-grey-100);

            p {
                color: var(--cool-grey-40);
            }

            p.visited, a.active {
                color: var(--blue-60);
            }

            a.active {
                border-bottom: 3px solid var(--blue-60);
            }
        }

        .setup-page {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            flex-direction: column;
            min-height: 400px;
            padding: $spacing-m;
            animation: fadeIn .2s;
            height: 100%;

            .ui.loader {
                position: static;
                transform: translateX(-0%) translateY(-0%);
            }

            .ghost.next {
                align-self: flex-end;
                margin-top: auto;
            }

            .party-names {
                max-height: 330px;
                overflow-y: auto;
                border: 1px solid var(--cool-grey-80);
                background-color: var(--cool-grey-100);
                margin-top: $spacing-m;
            }

            .party-name {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                width: 400px;
                padding: $spacing-s $spacing-s $spacing-xs $spacing-s;
                border-bottom: 1px solid var(--cool-grey-80);
                font-size: 16px;
                line-height: 26px;
                min-height: 50px;
                &.drag-over {
                    background-color: red;
                }
                &:last-of-type {
                    border-bottom: none;
                }

                .party-details {
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                }

                .role-names {
                    font-size: 12px;
                    color: var(--cool-grey-30);
                    margin-right: $spacing-s;

                    p {
                        font-size: 12px;
                    }
                }
            }

            &.not-supported {
                align-items: center;
                justify-content: center;

                .page-row {
                    margin-top: $spacing-l;
                    height: 100%;
                }
            }

            &.review {
                .party-names {
                    margin-right: $spacing-s;
                }
                .party-name {
                    width: 350px;
                }
            }

            &.finish {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: unset;
                background-color: var(--cool-grey-20);

                .log-in-tile {
                    display: flex;
                    flex-direction: column;
                    border-radius: 4px;
                    background-color: var(--white);
                    width: 238px;
                    min-height: 72px;
                    padding: $spacing-s;
                    margin: $spacing-s $spacing-s $spacing-s  0;

                    .log-in-row {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: baseline;
                        overflow: hidden;

                        h4 {
                            white-space: nowrap;
                            display: unset;
                            width: unset;
                            align-items: unset;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        p.p2.log-in {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            border: none;
                            color: var(--blue-60);
                            padding: 0px;
                            white-space: nowrap;

                            .icon {
                                margin-left: $spacing-xs;
                            }
                        }
                    }

                    &:hover {
                        background-color: var(--blue-100);
                        cursor: pointer;
                    }
                }
            }

            &.add-parties {
                align-items: center;
                justify-content: center;

                .parties-title {
                    align-items: flex-end;
                    justify-content: space-between;
                }

                .party-names {
                    max-height: 310px;

                    .uploaded {
                        margin-top: $spacing-xs;
                    }
                }

                p.details {
                    margin-bottom: $spacing-m;
                }

                .upload-parties {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-left: $spacing-m;
                    height: 100%;
                }

                .custom-file-upload {
                    width: fit-content;
                    height: 44px;
                    cursor: pointer;
                    border-radius: 4px;
                    background-color: var(--white);
                    border: 1px solid var(--green-50);

                    > input[type='file'] {
                        display: none;
                    }
                }
            }

            .page-row {
                display: flex;
                flex-direction: row;
            }

            .arrow {
                padding: $spacing-l;
                align-self: center;
            }

            .page-controls {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;

                .ghost {
                    padding: 2px 4px;
                    margin: 0px;
                    border: none;

                    .icon {
                        margin: 0px;
                    }
                }

                p.p2 {
                    margin: 0 $spacing-xs ;
                }
            }

            &.select-roles {
                .party-names {
                    margin-top: $spacing-xs;
                    // overflow: unset;
                    //max-height: unset;
                }

                .role-tiles {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    .role-tile {
                        padding: $spacing-s $spacing-m;
                        border:  1px solid var(--cool-grey-80);
                        border-radius: 4px;
                        background-color: var(--white);
                        margin: $spacing-xs $spacing-xs $spacing-xs 0;

                        p {
                            font-size: 16px;
                            font-weight: 600;
                        }

                        &:hover {
                            background-color: var(--cool-grey-100);
                            cursor: pointer;
                        }
                    }
                }
            }

            &.request-services {
                .field {
                    margin-bottom: $spacing-s;
                }

                .ghost.request {
                    border: var(--blue-60)
                }
            }
        }
    }

    .quick-setup-header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: $spacing-s 0 $spacing-xl 0;

        .logo-header, h2 {
            display: flex;
            justify-content: center;
            color: var(--white);
            font-family: 'BrownStd-Light';
        }

        .logo-header {
            font-size: 34px;
            line-height: 32px;
            margin-bottom: 0px;

            .open-marketplace-icon {
                margin-right: $spacing-s;
            }
        }
    }
}
}
